/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

/*navbar brand text*/
.navbar-default .navbar-brand {
  color: #06ba8f;
}

.jumbotron {
  background-color: #06ba8f;
  padding: 90px;
}

/*text inside jumbotron*/
.jumbotron .container h1, .jumbotron .container p {
  color: #ffffff;
}

.btn-outline-inverse {
  color: #ffffff;
  background-color: transparent;
  border-color: #e1f5f0;
}

.btn-outline-inverse:hover {
  background-color: #ffffff;
  color: #06ba8f;
}

#jumbotron-left-side {
  float: left;
}

#jumbotron-icon {
  float: left;
  margin-right: 20px;
  margin-top: 45px;
  color: #ffffff;
  font-size: 7em;
}

#signupForm {
  width: 275px;
  float: right;
}

#signupForm label {
  color: #ffffff;
}

#footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#newUserForm {
  margin: 20px;
}

#newCommitmnt {
  width: 50%;
  float: left;
}

#commitmnts {
  width: 50%;
}

.commitmntBarRight {
  float: right;
}

.completedCommitmnt {
  background-color: #dff0d8;
}

.brokenCommitmnt {
  background-color: #f2dede;
}
